// Variables:
// - Border radius:
$border-radius: 6px;
$border-radius-big: 8px;
$border-radius-large: 20px;
$border-radius-x-large: 24px;
$border-radius-round: 50%;

// - Padding:
$app-padding: 2rem;

$navbar-width: 100px;